<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>课程信息</title>
</head>
<body>
<a href="{:url('index/index/teacher_index')}">返回</a>
<div>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
     <table class="table table-default table-bordered" align="center" width="30%" border="1">
        <tr class="bg-primary">
         <td><strong>学生编号</strong></td>
         <td><strong>学生姓名</strong></td>
         <td><strong>学生性别</strong></td>
        </tr><tr>
        <tr></tr>
        </tr>
       {volist name="stu" id="s"}
        <tr>
         <td>{$s.sid}</td>
         <td>{$s.student}</td>
         <td>{$s.s_sex}</td>   
        </tr>
       {/volist}
     </table>
     </div>
     <div class="col-md-2"></div>
   </div>
   <div class="text-center">
     {$stu|raw}
   </div>
   </div>
</body>
</html>