<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>改卷</title>
</head>

<body>
<a href="{:url('index/teacher/teacher_shijuan_show_index1')}">返回</a>
<form name="form1" enctype="multipart/form-data" method="post" action="{:url('/index/teacher/shijuan_fs_add')}" >
    <table width="600" border="1" align="center">
        <tbody>
            <tr>
                <td height="52" colspan="2" align="center">改卷</td>
            </tr>
            <tr>
                <td width="159" align="right">考卷编号：</td>
                <td width="425">{$aid}</td>
            </tr>
            {foreach $daan as $key=>$d }
            <tr>
                <td width="159" align="right">第{$key+1}题答案：</td>
                <td width="425">{$d}</td>
            </tr>
            {/foreach}
            <tr>
                <td width="159" align="right">考卷分数：</td>
                <td width="425">
                    <input type="text" name="fs" >
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" name="bt" value="提交成绩" />                  
                </td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>