<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<table width="100%" >
  <tr>
    <td width="20%" align="center">
    <a href="{:url('/index/common/homepage')}">
    <img src="__STATIC__/common/logo.jpg" width="80" height="80" />
    </a></td>
    <td widtth="240" align="center"><a href="{:url('/index/common/pi')}">{$user}</a></td>
    <td widtth="240" align="center"><a href="{:url('/index/common/order')}">我的订单</a></td>
    <td widtth="240" align="center"><a href="{:url('/index/common/addgoods')}">添加商品</a></td>
    <td widtth="240" align="center"><a href="{:url('/index/common/charge')}">充值中心</a></td>
  </tr>
</table>

<h1 align="center">{$sname}</h1>
<div align="center">地址：{$origin}</div>
<br />
<table align="center">
<tr>
{volist name="ginfo" id="vo"}
<td>
  <table>
    <tr align="center">
      <td><a href="{:url('/index/shop/goods', ['gid' => $vo['gid']])}">
            <img src="__STATIC__{$vo.image}" width="150" height="200" />
      </a></td>
    </tr>
    <tr align="center">
      <td>{$vo.name}</td>
    </tr>
    <tr align="center">
      <td>价格：￥{$vo.price}</td>
    </tr>
    <tr align="center">
      <td>库存：{$vo.amount}</td>
    </tr>
  </table>
</td>
{/volist}
</tr>
</table>

</body>
</html>