<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>添加教师</title>
<style>
input{
  border: 1px solid #ccc; 
  padding: 7px 0px;
  border-radius: 3px; 
  padding-left:5px; 
    }
</style>
</head>
<body>
<a href="{:url('index/index/admin_index')}">返回</a>
<form name="form1" enctype="multipart/form-data" method="post" action="{:url('/index/admin/teacher_add')}" >
    <table width="600" border="1" align="center">
        <tbody>
            <tr>
                <td height="52" colspan="2" align="center">添加教师</td>
            </tr>
            <tr>
                <td width="159" align="right">账号：</td>
                <td width="425">
                    <input type="text" name="user" >
                </td>
            </tr>
            <tr>
                <td align="right">昵称：</td>
                <td><input type="text" name="username" ></td>
            </tr>
            <tr>
                <td align="right">密码：</td>
                <td><input type="password" name="password" ></td>
            </tr>
            <tr>
                <td align="right">重复密码：</td>
                <td>
                <input type="password" name="password1" >
                </td>
            </tr>
            <tr>
                <td align="right">头像：</td>
                <td>
                <input type="file" name="image">
                </td>
            </tr>
            <tr>
                <td align="right">性别：</td>
                <td>
                <input name="sex" type="radio" value="man" />男
                <input name="sex" type="radio" value="women" />女
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" name="bt" value="添加用户" />                  
                </td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>