<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>答卷信息</title>
</head>
<body>
<div>
<a href="{:url('index/index/teacher_index')}">返回</a>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
     <table class="table table-default table-bordered">
        <tr class="bg-primary">
         <td>已交试卷编号</td>
        </tr>   
       {volist name="sj" id="s"}
        <tr>
         <td>{$s.aid}</td>
         <td><input type="button" value="改卷" onclick="window.location.href='{:url('/index/teacher/teacher_shijuan_pg_index',['aid'=>$s['aid']])}'"></td> 
        </tr>
       {/volist}
     </table>
     </div>
     <div class="col-md-2"></div>
   </div>
   <div class="text-center">
     {$sj|raw}
   </div>
   </div>
</body>
</html>