<table width="100%">
    <tr>
        <td width="50%">
            {volist name="num" id="vo" key="k" length="81" mod="27" }
                <a href="{:url('/index/demo/choose', ['key' => $k])}">
                    {php}
                        if ($vo > 10)
                        {
                            $color = 'red';
                            $vo -= 10;
                        }
                        else
                        {
                            $color = '';
                        }
                    {/php}
                <button style="width:60px; height:60px;">
                    <font size="6" color="{$color}">{$vo}</font>
                </button></a>
                {eq name="mod" value="2"}&nbsp;&nbsp;&nbsp;{/eq}
                {eq name="mod" value="5"}&nbsp;&nbsp;&nbsp;{/eq}
                {eq name="mod" value="11"}&nbsp;&nbsp;&nbsp;{/eq}
                {eq name="mod" value="14"}&nbsp;&nbsp;&nbsp;{/eq}
                {eq name="mod" value="20"}&nbsp;&nbsp;&nbsp;{/eq}
                {eq name="mod" value="23"}&nbsp;&nbsp;&nbsp;{/eq}
                {eq name="mod" value="8"}<p></p>{/eq}
                {eq name="mod" value="17"}<p></p>{/eq}
                {eq name="mod" value="26"}<br/><br/><br/>{/eq}
                {/volist}
        </td>
        <td width="50%" align="center">
            <h1><font size="10">填入数据</font></h1>
            <h3>（先点击左边区域，再选中数字）</h3>
            <table>
                <tr>
                    <td>
                        {$h1[1]}
                        <a href="{:url('/index/demo/alter', ['value' => 1])}"><button><font size="15">1</font></button></a>
                        {$h2[1]}
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        {$h1[2]}
                        <a href="{:url('/index/demo/alter', ['value' => 2])}"><button><font size="15">2</font></button></a>
                        {$h2[2]}
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        {$h1[3]}
                        <a href="{:url('/index/demo/alter', ['value' => 3])}"><button><font size="15">3</font></button></a>
                        {$h2[3]}
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        {$h1[4]}
                        <a href="{:url('/index/demo/alter', ['value' => 4])}"><button><font size="15">4</font></button></a>
                        {$h2[4]}
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        {$h1[5]}
                        <a href="{:url('/index/demo/alter', ['value' => 5])}"><button><font size="15">5</font></button></a>
                        {$h2[5]}
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        {$h1[6]}
                        <a href="{:url('/index/demo/alter', ['value' => 6])}"><button><font size="15">6</font></button></a>
                        {$h2[6]}
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        {$h1[7]}
                        <a href="{:url('/index/demo/alter', ['value' => 7])}"><button><font size="15">7</font></button></a>
                        {$h2[7]}
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        {$h1[8]}
                        <a href="{:url('/index/demo/alter', ['value' => 8])}"><button><font size="15">8</font></button></a>
                        {$h2[8]}
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        {$h1[9]}
                        <a href="{:url('/index/demo/alter', ['value' => 9])}"><button><font size="15">9</font></button></a>
                        {$h2[9]}
                    </td>
                </tr>
            </table>
            <p>
                <a href="{:url('/index/demo/alter', ['value' => '？'])}">
                    <button >
                        <font size="15">？</font>
                    </button>
                </a>
            </p>
            <h1><a href="{:url('/index/demo/replay')}"><button><font size="5">重新开始</font></button></a></h1>
            <h1><a href="{:url('/index/demo/restart')}"><button><font size="5">新的数独</font></button></a></h1>
        </td>
    </tr>
</table>